<%- include('header.ejs') -%>

<div class="jumbotron">
  <div class="container">
    <% if (!login){%>
        <h2>Welcome to My WeiBo</h2>
        <p class="lead">
          What’s happening in the world and what people are talking about right
          now.
        </p>
        <p>
          <a class="btn btn-lg btn-success" href="/login" role="button">Log in</a>
          <a class="btn btn-lg btn-success" href="/register" role="button"
            >Sign up today</a
          >
        </p>
      </div>
      <%}else{%>
        <h2>Hello! <%=username%></h2>
        <div class="row">
            <div class='col-lg-3'>
              <a href="/static"><img src="/images/<%=avatar%>.jpg"></a>
              <a class="btn btn-lg btn-success" href="/setAvatar" role="button"
            >Set Avatar</a>
            </div>
            <div class='col-lg-6'>
                <form action="/post" method="POST">
                <textarea name="content" cols="80" rows="10" required='required'></textarea>
                <button class="btn btn-lg btn-success" type='submit'>Submit</button>
                </form>
            </div>
        </div>
        <%}%>
</div>
<div class="container">
      <div class="row marketing">
       <%posts.forEach( (p)=>{%>
        <div class="col-lg-6"> 
          <h4><%=p.username%></h4>
          <p>
            <%=p.content %>
            <p>
              <a class="btn btn-default" href='/post/<%= p._id %>' role="button">View details &raquo;</a></p>
          </p>
        </div>      
        <%}); %>
      </div>

    </div>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
